<div class="container">
  <div class="name">Basim Hennawi</div>
  <div class="icon-wrapper">
    <a href="https://www.facebook.com/basimhennawi">
      <img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_55-128.png">
    </a>
    <a href="https://twitter.com/private_basim">
      <img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_54-128.png">
    </a>
    <a href="mailto:basim.a.hennawi@gmail.com">
      <img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_43-128.png">
    </a>
  </div>
</div>