$primary-color: #1F9CED;

.container {
  height: 100%;
  width: 100%;
  background-color: $primary-color;
  color: #fff;
}
.name,
.icon-wrapper {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  @media screen and (max-width: 1040px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 540px) {
    font-size: 1.7rem;
  }
  top: 45%;
  font-family: sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}
.icon-wrapper {
  @media screen and (max-width: 1040px) {
    top: 50%;
    font-size: 1rem;
  }
  top: 55%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  // img {
  //   margin: 10px;
  //   width: 50px;
  //   height: 50px;
  // }
}